* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #009688;
}

.logo {
    color: #fff;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    position: absolute;
    top: 30%;
    margin-left: 380px;
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 60px;
    margin-top: 80px;
}

.content h4{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    width: 900px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    font-size: 23px;
    margin: 20px 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

button a{
    text-decoration: none;
    color: #fff;
}


.slideshow{
    width: 300px;
    height: 400px;
    position: relative;
    margin-top: 100px;
    overflow: hidden;
    border: #009688 solid 2px;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    animation: cycleImages 40s infinite;
    opacity: 0;
}

.slideshow-item:nth-child(1){
    animation-delay: 10s;
}

.slideshow-item:nth-child(2){
    animation-delay: 20s;
}

.slideshow-item:nth-child(3){
    animation-delay: 30s;
}

.slideshow-item:nth-child(4){
    animation-delay: 40s;
}

.slideshow-item:nth-child(5){
    animation-delay: 50s;
}

.slideshow-item:nth-child(6){
    animation-delay: 60s;
}

.slideshow-item:nth-child(7){
    animation-delay: 70s;
}

.slideshow-item:nth-child(8){
    animation-delay: 80s;
}

.slideshow-item:nth-child(9){
    animation-delay: 90s;
}

.slideshow-item:nth-child(10){
    animation-delay: 100s;
}

.slideshow-item img{
    width: 300px;
    height: 400px;
}

.slideshow-item-text{
    max-width: 50%;
    position: absolute;
    top: 40%;
    color: #fff;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 30px;
}

.slideshow-item-text h5{
    font-size: 20px;
    font-family: 'Raleway' sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
}

@keyframes cycleImages {
    25%{
        opacity: 1;
    }
    45%{
        opacity: 0;
    }
}

/**/

 .text{
 position: relative;
 margin: 7px;
 background-size: 100% 100%;
 background-position: center;
 transition:0.5s;
 display:inline-block;
 border-radius: 4px;
 font-size: 20px;
 }

 .text:hover{
 background-size: 110% 110%;
 }

 .text:after{
 content: attr(data-text);
 position: absolute;
 top: 92.8%;
 bottom: 0;
 left: 0;
 right: 0;
 white-space: pre-line;
 overflow: hidden;
 background-color: rgba(0,0,0,0.3);
 color: #FFFFFF;
 padding: 0 8px;
 transition:0.5s;
 text-align: left;
 }

 .text:hover:after{
 top: 0;
 padding: 8px;
 background-color: rgba(0,0,0,0.6);
 border-radius: 5px;
 }

 .text:first-line{
 color: #009688;
 font-weight:bold; 
 font-size:1.3em;
 text-align: left;
 }


 .newsletter{
    background: linear-gradient(125deg,#778beb,#009688);
    width: 500px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
    margin-left: 250px;
}
.newsletter h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    line-height: 40px;
}

.newsletter h1 span{
    display: block;
    font-size: 30px;
}

.newsletter p{
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
}

.form{
    width: 100%;
    height: 70%;
    background: #f1f1f199;
    border-radius: 40px;
    position: relative;
    margin-top: 40px;
}
.form input{
    width: 100%;
    height: 70px;
    border-radius: 40px;
    border: 0;
    background: none;
    padding: 0 30px;
    outline: none;
    font-size: 15px;
    padding-right: 80px;
}

.form button:hover{
    opacity: 1;
}


@media screen and (max-width: 300px) {
  .formbtn {
    width: 100%;
  }
}


#visitors {
    font-family: sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#visitors td, #visitors th{
    border: 1px solid #009688;
}

#visitors tr:nth-child(even){
    background-color:#fff;

}

#visitors tr:hover {
    background-color: darkturquoise;

}

#visitors th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: darkturquoise;
    color: black;
}

.footer-basic {
    padding:40px 0;
    background-color: #282d32;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
